{% load i18n %}

{% blocktrans %}

Time at which the event was generated. <br>
Format: YYYY-MM-DDThh:mm:ssTZD <br>
		<i>Note that the "T" appears literally in the string,
		to indicate the beginning of the time element, as specified in <a href="http://en.wikipedia.org/wiki/ISO_8601" target="blank_">ISO 8601</a>.</i>
		<ul>
			<li>YYYY = four-digit year</li>
			<li>MM   = two-digit month (01=January, etc.)</li>
			<li>DD   = two-digit day of month (01 through 31)</li>
			<li>hh   = two digits of hour (00 through 23) (am/pm NOT allowed)</li>
			<li>mm   = two digits of minute (00 through 59)</li>
			<li>ss   = two digits of second (00 through 59)</li>
			<li>TZD  = time zone designator (Z or +hh:mm or -hh:mm)</li>
		</ul>
        Example: 2013-03-22T19:20:30-05:00

{% endblocktrans %}
